<h4>{{ titleText }}</h4>

<ng-container *ngIf="{ books: books$ | async, currentPage: {value: currentPage$ | async}, totalPages: totalPages$ | async} as data; else noBooks">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">Book Type</th>
        <th scope="col">ISBN</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of data.books; let currentIndex = index">
        <th scope="row">{{ (currentIndex + 1) + (data.currentPage.value! * (perPage$| async)!) }}</th>
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.pages }}</td>
        <td>
          <div *ngIf="book.isHardtop; else ebook">
            <i class="fa-solid fa-book" data-toggle="tooltip" data-placement="bottom" title="hardtop book"></i>
          </div>
          <ng-template #ebook>
            <i class="fa-solid fa-tablet-screen-button" data-toggle="tooltip" data-placement="bottom" title="ebook"></i>
          </ng-template>
        </td>
        <td>{{ book.ISBN }}</td>
        <td>
          <button class="btn btn-primary" (click)="onOpenBook(book.ISBN)">
            Open
          </button>
          <br/>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-component
  [totalPages$]="totalPages$"
  [currentPage$]="currentPage$"
  (perPage)="this.perPage.emit($event)"
  (prevPage)="this.prevPage.emit($event)"
  (nextPage)="this.nextPage.emit($event)"
  ></pagination-component>

</ng-container>

<ng-template #noBooks>
  <ng-container>
    {{ noResultsText }}
  </ng-container>
</ng-template>
