<h4>{{ titleText }}</h4>

<ng-container *ngIf="{ books: books$ | async, currentPage: {value: currentPage$ | async}, totalPages: totalPages$ | async} as data; else noBooks">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">Book Type</th>
        <th scope="col">ISBN</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of data.books; let currentIndex = index">
        <th scope="row">{{ (currentIndex + 1) + (data.currentPage.value! * (perPage$| async)!) }}</th>
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.pages }}</td>
        <td>
          <div *ngIf="book.isHardtop; else ebook">
            <i class="fa-solid fa-book" data-toggle="tooltip" data-placement="bottom" title="hardtop book"></i>
          </div>
          <ng-template #ebook>
            <i class="fa-solid fa-tablet-screen-button" data-toggle="tooltip" data-placement="bottom" title="ebook"></i>
          </ng-template>
        </td>
        <td>{{ book.ISBN }}</td>
        <td>
          <button class="btn btn-primary" (click)="onOpenBook(book.ISBN)">
            Open
          </button>
          <br/>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex flex-row justify-content-end p-1" style="display: inline-block">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="this.prevPage.emit()" [ngClass]="{'disabled' : data.currentPage.value == 0}">Previous</a></li>
        <li class="page-item"><a class="page-link" (click)="this.prevPage.emit()" *ngIf="data.currentPage.value != 0">{{data.currentPage.value}}</a></li>
        <li class="page-item"><a class="page-link">{{(data.currentPage.value)! + 1}}</a></li>
        <li class="page-item"><a class="page-link" (click)="this.nextPage.emit()" *ngIf="data.currentPage.value!+1 < data.totalPages!">{{(data.currentPage.value)! + 2}}</a></li>
        <li class="page-item"><a class="page-link" (click)="this.nextPage.emit()" [ngClass]="{'disabled' : data.totalPages == (data.currentPage.value!+1)}">Next</a></li>
      </ul>
      {{'totalPages: '+data.totalPages}}
      <ul class="pagination">
        Items per page
        <li class="page-item"><a class="page-link" (click)="this.perPage.emit(5)">5</a></li>
        <li class="page-item"><a class="page-link" (click)="this.perPage.emit(10)">10</a></li>
        <li class="page-item"><a class="page-link" (click)="this.perPage.emit(25)">25</a></li>
      </ul>
    </nav>
    <hr>
  </div>

</ng-container>

<ng-template #noBooks>
  <ng-container>
    {{ noResultsText }}
  </ng-container>
</ng-template>
