<div *ngIf="book$ | async as book; else noBook">
  <div class="d-flex justify-content-between">
    <div>
      <h3>{{ book.title }}</h3>
    </div>
    <div>
      <p>{{ book.author }}</p>
    </div>
  </div>
  <hr />

  <div
    class="d-flex flex-row justify-content-end p-1"
    style="display: inline-block"
  >
    <div class="small mb-1">ISBN {{ book.ISBN }}</div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>Type: {{ book.isHardtop ? "Hardtop book" : "ebook" }}</p>
      <p>Pages: {{ book.pages }}</p>
      <div class="col-12" style="border: 1px solid black">
        <p>Logged-in user zone</p>
        <table class="buttons">
          <tr>
            <td><button class="btn btn-success" (click)="onAddToMyBooks(book.ISBN)">Add to My Books</button></td>
            <td>
              <button class="btn btn-danger" (click)="onRemoveFromMyBooks(book.ISBN)">Remove from My Books</button>
            </td>
          </tr>
          <tr>
            <td><button class="btn btn-success" (click)="onAddToWishlist(book.ISBN)">Add to Wishlist</button></td>
            <td>
              <button class="btn btn-danger" (click)="onRemoveFromWishlist(book.ISBN)">Remove from Wishlist</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-4">
      <div
        class="d-flex flex-row justify-content-end p-1"
        style="display: inline-block"
      >
        <h5>
          <img
            [src]="book.image"
            style="width: 240px; height: 350px; object-fit: cover"
          />
        </h5>
      </div>
    </div>
  </div>
</div>

<ng-template #noBook>
  <h3>Oops... There is no book</h3>
</ng-template>
